<!DOCTYPE html>
<body>
  <ng-container *ngIf="isLoggedIn; else loginForm">
    <app-logout class="invisible transition-none md:visible" (logout)="isLoggedIn = false"></app-logout>

    <div class="grid grid-cols-2 w-auto justify-content-center content-center mt-[-64px]">
      <app-bug-detail class="ml-6 invisible transition-none md:visible" (isEditingBug)="editingBug = $event" [selectedBug]="selectedBug"></app-bug-detail>
      <app-bug-grid class="invisible transition-none md:visible" (bugSelected)="selectedBug = $event" [isEditing]="editingBug"></app-bug-grid>
    </div>
    <div class="md:hidden mt-[-500px] p-[75px] justify-center align-middle text-center text-4xl text-black font-bold">
      Please use a larger screen size. Mobile Devices are not supported.
    </div>
  </ng-container>
  
  <ng-template #loginForm>
    <app-login-form (loggedIn)="isLoggedIn = $event"></app-login-form>
  </ng-template>
</body>

<!-- <body>
  <div class="grid grid-cols-2 w-auto justify-content-center content-center">
      <app-bug-detail class="mx-auto ml-6" [selectedBug]="selectedBug"></app-bug-detail>
      <app-bug-grid class="mx-auto" (bugSelected)="selectedBug = $event"></app-bug-grid>
  </div>
</body> -->

