<!DOCTYPE html>
  <h1 class="font-semibold text-4xl mt-[24px] p-[12px] xl:ml-[40px]">Current Bugs</h1>
  <div class="2xl:h-[780px] lg:h-[742px] w-auto ">
    <!-- End of Main Component Div -->
      <div class="grid xl:grid-cols-2 md:grid-cols-1 h-[716px] w-full gap-x-[32px] gap-y-[20px] p-[50px] md:pr-[50x] pt-12 overflow-y-auto">

        <!-- End of Grid Div -->

        <div class="
          text-black w-auto max-w-[400px] md:max-w-[500px] h-[175px] p-[12px] rounded-[20px] shadow-lg bg-white flex  items-center scale-100 group 
          transition-all duration-[0.45s] ease-in-out 

          hover:bg-black hover:text-white hover:cursor-pointer hover:scale-[1.12] hover:z-100 hover:transition-all ease-in-out "

         *ngFor="let bug of bugs" (click)="onBugCardClick(bug)"
         > 
        <!-- End of Card Div -->
          <div class="flex flex-col pl-[6px] mb-[16px]">

            <h2 class="font-bold text-lg w-auto h-10 mb-[48px] group-hover:text-white transition duration-[0.01s]">{{ bug.title }}</h2>
            <p  class="
            font-semibold italic text-gray-500 w-40 text-base w-[200px]

            group-hover:text-white transition duration-[0.35s]"
            >Created on: {{ bug.dateCreated | date}}</p>
            <!-- End of Date Created Tag -->
            <p  class="
            font-semibold italic text-gray-500 w-40 text-base w-[200px]

            group-hover:text-white transition duration-[0.4s]"
            >Priority: {{ bug.priority }}</p>
            <!-- End of Priority Tag -->
          </div>

        </div>
      </div>
    </div>

