<!DOCTYPE html>
<div class="flex flex-row">
  <h1 class="font-semibold text-4xl mt-[24px] p-[12px]">Bug Details </h1>
  
  <!-- Create New Bug Button -->
  <button *ngIf="!isEditMode && !isCreating" class="
    absolute xl:ml-[536px] lg:ml-[476px] mt-[32px] font-medium text-xl text-black w-[264px] h-[56px] p-[12px] rounded-[20px] shadow-lg bg-white flex justify-center align-middle transition-all duration-[0.45s] ease-in-out scale-100
            
    hover:bg-black hover:text-white hover:cursor-pointer hover:scale-[1.12] hover:z-100" 

    (click)="createBug()">
    Create New Bug
  </button>
  <!-- End of Create New Bug Button -->

</div>


<div class="xl:w-[900px] lg:w-auto h-[700px] bg-white rounded-[24px] mt-[20px]">

  <div class="absolute flex flex-row gap-x-[16px] ml-[300px] mt-[600px] pt-[24px] z-10" *ngIf="!isEditMode && !isCreating && selectedBug">

    <button class="
        font-semibold text-xl text-black w-[196px] h-[56px] p-[12px] rounded-[20px] shadow-lg bg-white flex justify-center align-middle transition-all duration-[0.45s] ease-in-out scale-100 pb-[24px] mb-[18px]
              
        hover:bg-black hover:text-white hover:cursor-pointer hover:scale-[1.12] hover:z-100"

        (click)="editBug()">
        Edit
    </button>
    <!-- End of Edit Bug Button -->

    <button class="
      font-semibold text-xl text-black w-[196px] h-[56px] p-[12px] rounded-[20px] shadow-lg bg-white flex justify-center align-middle transition-all duration-[0.45s] ease-in-out scale-100
              
      hover:bg-black hover:text-white hover:cursor-pointer hover:scale-[1.12] hover:z-100" 
      (click)="deleteBug()">
      Delete
    </button>
    <!-- End of Delete Bug Button -->

  </div>
  <!-- End of Button Container -->
  
  <div class="pt-[18px] p-[22px]">

    <h1 class="font-semibold text-black text-4xl w-[696px] pb-12" *ngIf="!isEditMode && !isCreating">{{ selectedBug?.title }}</h1>

    <!-- End of But Title -->

    <!-- Beggining of Form -->
    <form *ngIf="isEditMode || isCreating" #bugForm="ngForm" class="pt-[24px] flex flex-col gap-8">

      <!-- Bug Title Input -->
      <div>
        <div class="flex flex-row">
          <label class="p-[8px] text-xl text-black font-semibold">Title:</label>
          <h4 *ngIf="title.touched && title.invalid" class="p-[8px] font-semibold text-lg text-pink-600 ml-[200px]">Please Add a Title</h4>
        </div>
        
        <div class="form-group">
          <input type="text" #title="ngModel" name="title" placeholder="Enter title" [ngModel]="selectedBug?.title" required class="
          font-semibold text-xl text-black w-[696px] h-[56px] p-[12px] ml-[2px] mt-[12px] rounded-[18px] bg-gray-100 invalid:border-2 border-pink-500 invalid:text-pink-600">
        </div>
      </div>
      

      <!-- Priority Dropdown Select -->
      <div>
        <label class="p-[8px] text-xl text-black font-semibold">Priority:</label>

        <div class="form-group">
          <select #priority="ngModel" name="priority" [ngModel]="selectedBug?.priority" required class="appearance-none focus:outline-none
          font-semibold text-xl text-black w-[676px] h-[56px] p-[12px] ml-[2px] mt-[12px] rounded-[18px] bg-gray-100 invalid:border-2 border-pink-500">

            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>

          <div *ngIf="priority.touched && priority.invalid">
            <h4 class="font-semibold text-lg text-pink-600 ml-[248px] mt-[12px]">Please Select a Priority</h4>
          </div>

        </div>
      </div>
      

      <!-- Text Area for Description -->
      <div>
        <label class="p-[8px] text-xl text-black font-semibold">Description:</label>

        <div class="form-group">
          <textarea name="description" placeholder="Enter description" [ngModel]="selectedBug?.description" class="appearance-none resize-none
            font-semibold text-xl text-black w-[632px] h-[200px] p-[12px] ml-[2px] mt-[12px] rounded-[18px] bg-gray-100 invalid:border-2 border-pink-500">

            {{ selectedBug?.description }}
          </textarea>
        </div>
      </div>
 

      <!-- Save and Cancel Buttons For Form -->
      <div class="absolute flex flex-row gap-x-[16px] mt-[570px] p-[12px] z-10" *ngIf="isEditMode || isCreating">

        <button (click)="saveBug(bugForm)" class="
          font-semibold text-xl text-black w-[196px] h-[56px] p-[12px] rounded-[20px] shadow-lg bg-white flex justify-center align-middle transition-all duration-[0.45s] ease-in-out scale-100 pb-[24px] mb-[18px]
                
          hover:bg-black hover:text-white hover:cursor-pointer hover:scale-[1.12] hover:z-100">
          Save
        </button>

        <button (click)="cancelEdit()" class="
          font-semibold text-xl text-black w-[196px] h-[56px] p-[12px] rounded-[20px] shadow-lg bg-white flex justify-center align-middle transition-all duration-[0.45s] ease-in-out scale-100 pb-[24px] mb-[18px]
                
          hover:bg-black hover:text-white hover:cursor-pointer hover:scale-[1.12] hover:z-100">
          Cancel
        </button>

      </div>

    </form>


    <h3 *ngIf="!isEditMode && !isCreating && selectedBug" class="font-semibold text-xl text-black pt-[8px]">Created on:</h3>

    <h4 *ngIf="!isEditMode && !isCreating" class="font-semibold italic text-base text-gray-500 pt-[8px]">{{ selectedBug?.dateCreated }}</h4>

    <h3 *ngIf="!isEditMode && !isCreating && selectedBug" class="font-semibold text-xl text-black pt-[8px]">Priority:</h3>

    <h4 *ngIf="!isEditMode && !isCreating" class="font-semibold italic text-base text-gray-500 pt-[8px]">{{ selectedBug?.priority }}</h4>

    <h3 *ngIf="!isEditMode && !isCreating && selectedBug" class="font-semibold text-xl text-black pt-[8px]">Description:</h3>

    <h4 *ngIf="!isEditMode && !isCreating" class="font-semibold italic text-base text-gray-500 pt-[8px]">{{ selectedBug?.description }}</h4>
    
  </div>

</div>
